.blogimg{
    margin-top: 2em;
     max-width: 500px;
     width: 100%;
     border-radius: 10px;
     box-shadow: 5px 5px 10px grey;
 }
 
 .main{
     display: flex;
     font-family: "Exo", sans-serif;
     color: white;
 }
 .out{
     padding-left: 2em;
     padding-top: 2em;
 }
 /* .blogimg{
     width: 45%;
     margin-left: 7%;
 } */
 .infobox{
     width: 50vw;
     margin-top: 2em;
     background-color: #c73659;
     border-top-right-radius: 4em;
     border-bottom-right-radius: 4em;
 }
 
 .side{
     color: white;
 }
 
 .blog{
     padding-left: 1em;
     padding-right: 1em;
     font-size: medium;
     line-height: 1.5em;
 }
 
 .side{
     padding-left: 1em;
 }
 
 @media (max-width: 1194px){
     .container{
         text-align: center;
         
     }
     .out{
         justify-content: center;
         align-items: center;
         text-align: center;
         padding: 1em;
     }
     .main{
         display: block;
     }
     .mainhead{
         background-color: #c73659;
         color: white;
         font-size:x-large;
     }
     .infobox{
         width: 90vw;
         margin-right: 7px;
         padding: 30px 20px;
         background-color: white;
         color: #c73659;
         font-size:medium;
     }
     .side{
         color: #c73659;
         padding: 0;
     }
     .blogimg{
         margin-top: 2em;
          max-width: 250px;
          width: 100%;
          border-radius: 10px;
          box-shadow: 5px 5px 10px grey;
      }
 }
 
 @media (max-width : 820px){
     .no{
         display: none;
     }
 }
 @media (min-width : 820px) and (min-height :1180px){
     .container{
         margin-left: 20px;
     }
 }