.author-profile ul .active {
    color: var(--light-grey) !important;
    background-color: var(--light-dark-grey);
    border-radius: 5px;
  }
  
  .article{
    align-items: center;
    justify-content:space-evenly;
    padding-top: 4em;
  }
  .ab{
    border: 1px solid black;
    border-radius: 10%;
    
  }
  .card-title{
    font-weight: 700;
  }
  .ab:hover{
    box-shadow: 0 14px 28px rgba(169,29,58,1), 
    0 10px 10px rgba(169,29,58,0.50);
  }
  .bdy{
    font-family: "Exo", sans-serif;
    background-color: black;
    color: white;
    border-bottom-right-radius: 2em;
    border-bottom-left-radius: 2em;
  }
  .btn{
    background-color: #c73659;
  }
  .btn:hover{
    border: 2px solid #c73659;
    background-color: black;
    color: white;
  }